gost.alexdenkk.ru {
    reverse_proxy lab-frontend:9091 {
        header_up X-Real-IP {remote_host}
    }
}

api.gost.alexdenkk.ru {
    reverse_proxy lab:8081 {
        header_up X-Real-IP {remote_host}
    }
}